@font-face {
  font-family: "betterfly";
  src: url("../fonts/betterfly-draft-webfont.woff") format("woff2"),
    url("../fonts/betterfly-draft-webfont.woff") format("woff");
}

@font-face {
  font-family: "BfNarrow";
  src: url("../fonts/betterfly-draft-webfont.woff") format("woff2"),
    url("../fonts/betterfly-draft-webfont.woff") format("woff");
}
@font-face {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 400;
  src: local("Crimson Text Regular"), local("crimsonText-Regular"),
    url("htttps://fonts.gstatic.com/s/crimsontext/v8/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIffd3A.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+0288-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFD;
}
@font-face {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 700;
  src: local("Crimson Text Regular"), local("crimsonText-Regular"),
    url("htttps://fonts.gstatic.com/s/crimsontext/v8/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIffd3A.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+0288-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFD;
}

@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: local("Crimson Text Regular"), local("crimsonText-Regular"),
    url("htttps://fonts.gstatic.com/s/crimsontext/v8/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIffd3A.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+0288-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFD;
}
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: local("Crimson Text Regular"), local("crimsonText-Regular"),
    url("htttps://fonts.gstatic.com/s/crimsontext/v8/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIffd3A.woff2")
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+0288-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFD;
}

:root {
  --clr-text: #373434;
  --clr-primary: #067e0a;
  --clr-primary-dark: #012702;
  --clr-primary-light: #09ab0f;
  --clr-accent: #63366e;
  --clr-accent-dark: #4c0c5c;
  --clr-accent-light: #9c1bbd;

  --ff-title: "BfNarrow", sans-serif;
  --ff-serif: "Crimson Text", serif;
  --ff-logo: "Betterfly", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-text);
  font-size: 1.25rem;
}

body {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 3em 1;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2,
h3 {
  font-family: var(--ff-title);
  line-height: 0.8;
  letter-spacing: 1px;
}
h2 {
  font-size: 4rem;
}

p {
  margin-bottom: 0.85em;
}

p:last-child {
  margin-bottom: 0;
}

.section-title-small {
  font-size: 3rem;
}
.section-title-small small {
  font-size: 0.7em;
  display: block;
}

.text.primary {
  color: var(--clr-primary);
}

.logo {
  font-family: var(--ff-logo);
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: black;
}

header {
  padding: 1em 0 2em;
}

/* navigering */

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: var(--clr-primary);
  text-decoration: none;
}
nav a:hover,
nav a:focus {
  color: var(--clr-accent);
  text-decoration: underline;
}
/* BUTTONS */

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.btn {
  padding: 0.75em 2.5em;
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5em 0;
  border-radius: 0.35em;
}
.btn + .btn {
  margin-left: 0.5em;
}

.btn-primary {
  background: var(--clr-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--clr-primary-light);
}
.btn-accent {
  background: var(--clr-accent);
}

.btn-accent:hover,
.btn-accent:focus {
  background: var(--clr-accent-light);
}

/* HOMEPAGESTYLES */

.hero {
  background-color: #555;
  background-image: url(./assets/images/75262127_10162356367435007_7480720663167107072_n.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15vh 1em;
}

.about-us {
  background: var(--clr-accent);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
}
.about-us__intro {
  background-image: url();
  padding: 3em 1em 1em;
  background-size: cover;
}

.about-us__body {
  padding: 1.5em 1em 3em;
}

.order-online {
  background: #f0f0f0;
}

.products {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 0 auto;
}

.product {
  /* background: #f0f0f0; */
  border-radius: 1em;
  /* border: 1px solid red; */
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0.1);
}

.product:last-of-type {
  margin-bottom: 2em;
}

.product__content {
  padding: 1.5em;
}

.product__title {
  color: var(--clr-primary);
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.fineprint {
  font-size: 0.75rem;
  color: rgb(12, 11, 11);
}

.mb-0 {
  margin-bottom: 0;
}

.footer-social,
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer a {
  color: inherit;
}

.footer-nav a {
  padding: 0.75em;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer {
  background: var(--clr-accent-dark);
  padding: 3em 1em;
  color: white;
  display: flex;
  margin-top: 3em;
  justify-content: center;
  gap: 5em;
}

.social-icon {
  width: 50px;
}

.social-link {
  margin-bottom: 5px;
  display: inline-block;
}

/* @media only screen and (min-width:750px) {
  section {
    padding: 6em 1em;
}

.btn-group {
  flex-direction: row;
  margin-top: 1em;
}

.btn +.btn {
  margin-left: 0.5em;
}

.about-us {
  flex-direction: row;
}
.about-us__intro,
.about-us__body {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  padding: 4em 2em;
  justify-content: center;
 }
 .about-us__intro {
  text-align: right;
  
   }
 .about-us__intro > * {
  max-width: 27rem;
  margin-left: auto;
 }

.about-us__body {
  text-align: left;
}

 
 .about-us__body > * {
  max-width: 27rem;
  margin-right: auto;
 }

 .order-online > * {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
 }

 .products {
  flex-direction: row;
  max-width: 1200px;
  padding: 0 5em;
 }
 .product {
  margin: 0;
  flex: 0 1 33%
 }
 .product + .product {
  margin: left 1em;;
 }
 .product:last-of-type {
  margin-bottom 0;
}  */
